argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
cffi==1.15.0
click==8.0.3
colorama==0.4.4
Flask==2.0.2
importlib-metadata==4.11.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pony==0.7.16
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycparser==2.21
python-crontab==2.6.0
python-dateutil==2.8.2
python-dotenv==0.19.2
python-http-client==3.3.6
sendgrid==6.9.6
six==1.16.0
starkbank-ecdsa==2.0.3
typing-extensions==4.0.1
Werkzeug==2.0.3
zipp==3.7.0
