click==8.0.3
Flask==2.0.2
importlib-metadata==4.11.0
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pony==0.7.16
psycopg2==2.9.3
python-dotenv==0.19.2
typing-extensions==4.0.1
Werkzeug==2.0.3
zipp==3.7.0
